In [30]:
import pandas as pd 

df = pd.read_csv("oscar_age_male.csv")

print(df.head())

   Index   "Year"                "Age"              "Name"  \
1   1928       44      "Emil Jannings"   "The Last Command
2   1929       41      "Warner Baxter"    "In Old Arizona"
3   1930       62      "George Arliss"          "Disraeli"
4   1931       53   "Lionel Barrymore"       "A Free Soul"
5   1932       47      "Wallace Beery"         "The Champ"

                  "Movie"
1   The Way of All Flesh"
2                     NaN
3                     NaN
4                     NaN
5                     NaN

In [ ]:
print(df.columns)

Index(['Index', ' "Year"', ' "Age"', ' "Name"', ' "Movie"'], dtype='object')

In [19]:
sean_penn = df[df[' "Name"'] == ' "Sean Penn"']
print(sean_penn)

Empty DataFrame
Columns: [Index,  "Year",  "Age",  "Name",  "Movie"]
Index: []

In [20]:
# Bersihkan nama kolom
df.columns = df.columns.str.strip().str.replace('"', '')

In [26]:
# Bersihkan data pada kolom Name
df['Age'] = df['Age'].str.strip().str.replace('"', '')

In [27]:
# Cari Sean Penn
sean_penn = df[df['Age'] == 'Sean Penn']
print(sean_penn)

    Index  Year        Age          Name Movie
77   2004    43  Sean Penn  Mystic River   NaN
82   2009    48  Sean Penn          Milk   NaN

In [31]:
# Rename kolom agar rapi
df.columns = df.columns.str.strip().str.replace('"', '')

In [28]:
print(df['Age'].unique())

['Emil Jannings' 'Warner Baxter' 'George Arliss' 'Lionel Barrymore'
 'Wallace Beery' 'Fredric March' 'Charles Laughton' 'Clark Gable'
 'Victor McLaglen' 'Paul Muni' 'Spencer Tracy' 'Robert Donat'
 'James Stewart' 'Gary Cooper' 'James Cagney' 'Paul Lukas' 'Bing Crosby'
 'Ray Milland' 'Ronald Colman' 'Laurence Olivier' 'Broderick Crawford'
 'Jos√© Ferrer' 'Humphrey Bogart' 'William Holden' 'Marlon Brando'
 'Ernest Borgnine' 'Yul Brynner' 'Alec Guinness' 'David Niven'
 'Charlton Heston' 'Burt Lancaster' 'Maximilian Schell' 'Gregory Peck'
 'Sidney Poitier' 'Rex Harrison' 'Lee Marvin' 'Paul Scofield'
 'Rod Steiger' 'Cliff Robertson' 'John Wayne' 'George C. Scott'
 'Gene Hackman' 'Jack Lemmon' 'Art Carney' 'Jack Nicholson' 'Peter Finch'
 'Richard Dreyfuss' 'Jon Voight' 'Dustin Hoffman' 'Robert De Niro'
 'Henry Fonda' 'Ben Kingsley' 'Robert Duvall' 'F. Murray Abraham'
 'William Hurt' 'Paul Newman' 'Michael Douglas' 'Daniel Day-Lewis'
 'Jeremy Irons' 'Anthony Hopkins' 'Al Pacino' 'Tom Hanks' 'Nicolas Cage'
 'Geoffrey Rush' 'Roberto Benigni' 'Kevin Spacey' 'Russell Crowe'
 'Denzel Washington' 'Adrien Brody' 'Sean Penn' 'Jamie Foxx'
 'Philip Seymour Hoffman' 'Forest Whitaker' 'Jeff Bridges' 'Colin Firth'
 'Jean Dujardin' 'Matthew McConaughey' 'Eddie Redmayne'
 'Leonardo DiCaprio']

In [32]:
# Tampilkan beberapa baris untuk cek data
print(df.head(10))

    Index  Year                  Age                               Name  \
1    1928    44      "Emil Jannings"                  "The Last Command
2    1929    41      "Warner Baxter"                   "In Old Arizona"
3    1930    62      "George Arliss"                         "Disraeli"
4    1931    53   "Lionel Barrymore"                      "A Free Soul"
5    1932    47      "Wallace Beery"                        "The Champ"
6    1933    35      "Fredric March"          "Dr. Jekyll and Mr. Hyde"
7    1934    34   "Charles Laughton"   "The Private Life of Henry VIII"
8    1935    34        "Clark Gable"            "It Happened One Night"
9    1936    49    "Victor McLaglen"                   "The Informer"\t
10   1937    41          "Paul Muni"     "The Story of Louis Pasteur"\t

                     Movie
1    The Way of All Flesh"
2                      NaN
3                      NaN
4                      NaN
5                      NaN
6                      NaN
7                      NaN
8                      NaN
9                      NaN
10                     NaN

In [33]:
# Jika kolom Movie berisi NaN, cek apakah data bergeser
print(df.isnull().sum())

Index     0
Year      0
Age       0
Name      0
Movie    87
dtype: int64

In [34]:
df['Movie'] = df['Movie'].fillna(df['Name'])

In [35]:
print(df.head())

   Index  Year                  Age                Name  \
1   1928    44      "Emil Jannings"   "The Last Command
2   1929    41      "Warner Baxter"    "In Old Arizona"
3   1930    62      "George Arliss"          "Disraeli"
4   1931    53   "Lionel Barrymore"       "A Free Soul"
5   1932    47      "Wallace Beery"         "The Champ"

                    Movie
1   The Way of All Flesh"
2        "In Old Arizona"
3              "Disraeli"
4           "A Free Soul"
5             "The Champ"

In [36]:
# Hilangkan tanda kutip di semua kolom
df = df.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)

# Jika ada data yang masih salah, cek dan perbaiki manual
print(df[['Name', 'Movie']].head(10))

C:\Users\ACER\AppData\Local\Temp\ipykernel_8712\709404733.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)

                                Name                             Movie
1                  "The Last Command              The Way of All Flesh
2                    "In Old Arizona                   "In Old Arizona
3                          "Disraeli                         "Disraeli
4                       "A Free Soul                      "A Free Soul
5                         "The Champ                        "The Champ
6           "Dr. Jekyll and Mr. Hyde          "Dr. Jekyll and Mr. Hyde
7    "The Private Life of Henry VIII   "The Private Life of Henry VIII
8             "It Happened One Night            "It Happened One Night
9                   "The Informer"\t                  "The Informer"\t
10    "The Story of Louis Pasteur"\t    "The Story of Louis Pasteur"\t

In [37]:
# Cek jika ada data Movie yang mengandung nama aktor, atau sebaliknya
print(df[df['Movie'].str.contains('Penn|Jannings|Baxter|Arliss|Barrymore|Beery', na=False)])

Empty DataFrame
Columns: [Index, Year, Age, Name, Movie]
Index: []

In [38]:
print(df.head())

   Index  Year                 Age                Name                  Movie
1   1928    44      "Emil Jannings   "The Last Command   The Way of All Flesh
2   1929    41      "Warner Baxter     "In Old Arizona        "In Old Arizona
3   1930    62      "George Arliss           "Disraeli              "Disraeli
4   1931    53   "Lionel Barrymore        "A Free Soul           "A Free Soul
5   1932    47      "Wallace Beery          "The Champ             "The Champ

In [41]:
df = pd.read_csv(
    "oscar_age_male.csv",
    header=None,
    delimiter=",",
    quotechar='"',
    on_bad_lines='skip'
)
df.columns = ["Index", "Year", "Age", "Name", "Movie"]
df = df.drop(columns=["Index"])
print(df.head())

      Year     Age                 Name              Movie
0   "Year"   "Age"               "Name"            "Movie"
1     1929      41      "Warner Baxter"   "In Old Arizona"
2     1930      62      "George Arliss"         "Disraeli"
3     1931      53   "Lionel Barrymore"      "A Free Soul"
4     1932      47      "Wallace Beery"        "The Champ"

In [42]:
df = df.iloc[1:].reset_index(drop=True)
print(df.head())

    Year  Age                 Name                       Movie
0   1929   41      "Warner Baxter"            "In Old Arizona"
1   1930   62      "George Arliss"                  "Disraeli"
2   1931   53   "Lionel Barrymore"               "A Free Soul"
3   1932   47      "Wallace Beery"                 "The Champ"
4   1933   35      "Fredric March"   "Dr. Jekyll and Mr. Hyde"

In [43]:
df.index = df.index + 1
print(df.head())

    Year  Age                 Name                       Movie
1   1929   41      "Warner Baxter"            "In Old Arizona"
2   1930   62      "George Arliss"                  "Disraeli"
3   1931   53   "Lionel Barrymore"               "A Free Soul"
4   1932   47      "Wallace Beery"                 "The Champ"
5   1933   35      "Fredric March"   "Dr. Jekyll and Mr. Hyde"